* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}

.navBox {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 1000;
  /* position: fixed;
  top: 0; */
  overflow: hidden;
}

.navBox .logo {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: 40px;
  height: 46px;
  background-color: #64ffda;
  position: relative;
}

.navBox .logo .logoTwo {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: 36px;
  height: 41px;
  background-color: #0a192f;
  position: absolute;
  top: 5%;
  right: 5%;
  color: #60f4d2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.navBox .logoMenu i {
  display: none;
}

/* 1 */

.navBox .links {
  width: 55%;
  position: relative;
  right: -250px;
}

.navBox .links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBox .links ul li {
  color: #60f4d2;
  font-size: 14px;
}

.navBox .links ul li a {
  color: #bac5e4;
  font-size: 14px;
  font-weight: 500;
}

.navBox .links ul .btn a {
  border: 1px solid #5ff1d0;
  padding: 10px 16px;
  border-radius: 6px;
  color: #5ff1d0;
}

/* 2 */

.DisLinks {
  width: 45%;
}

.DisLinks ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DisLinks ul li {
  color: #60f4d2;
  font-size: 14px;
}

.DisLinks ul li a {
  color: #bac5e4;
  font-size: 14px;
  font-weight: 500;
}

.DisLinks ul .btn a {
  border: 1px solid #5ff1d0;
  padding: 10px 16px;
  border-radius: 6px;
  color: #5ff1d0;
}

.logo .logoTwo h3 {
  font-size: 24px;
}

.DisLinks {
  display: none;
  position: absolute;
  top: -100%;
}

.logoMenu {
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoMenu i {
  font-size: 36px;
  color: #fff;
}

.disNone {
  position: absolute;
  top: -100%;
}

@media (max-width: 375px) {
  .navBox .links {
    width: 100%;
    display: none;
    padding: 0;
  }

  .navBox {
    width: 100%;
  }

  .navBox .logoMenu {
    position: relative;
    right: 10px;
  }

  .navBox .logoMenu i {
    display: block;
  }

  .DisLinks {
    width: 94%;
    display: block;
    height: 80%;
    backdrop-filter: blur(100px);
    border: 1px solid transparent;
    padding: 10%;
    position: absolute;
    top: 16%;
    transition: 0.5s;
  }

  .DisLinks ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .DisLinks ul li {
    margin-bottom: 5%;
  }

  .DisLinks ul li a {
    font-size: 28px;
    font-weight: 600;
  }
}

@media (max-width: 425px) {
  .navBox .links {
    width: 100%;
    display: none;
    padding: 0;
  }

  .navBox {
    width: 100%;
  }

  .navBox .logoMenu {
    position: relative;
    right: 10px;
  }

  .navBox .logoMenu i {
    display: block;
  }

  .DisLinks {
    width: 94%;
    display: block;
    height: 80%;
    backdrop-filter: blur(100px);
    border: 1px solid transparent;
    padding: 10%;
    position: absolute;
    top: 16%;
    transition: 0.5s;
  }

  .DisLinks ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .DisLinks ul li {
    margin-bottom: 5%;
  }

  .DisLinks ul li a {
    font-size: 28px;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .navBox {
    width: 100%;
  }

  .navBox .links {
    width: 75%;
    position: relative;
    left: 10%;
  }
}
