* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}

.next_title {
  text-align: center;
}

.next_title h3 {
  font-size: 16px;
  color: #5ce9c9;
  font-weight: 400;
  margin-bottom: 2%;
}

.next_title h1 {
  font-size: 48px;
  color: #ccd6f6;
  margin-bottom: 3%;
}

.next_title p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: #717c99;
  margin-bottom: 7%;
}

.next_title .btnNext button {
  width: 14%;
  height: 60px;
  border-radius: 7px;
  background-color: #0a192f;
  font-size: 16px;
  font-weight: 500;
  color: #5ce9c9;
  border: 1px solid #5ce9c9;
  cursor: pointer;
  margin-bottom: 20%;
}

.next_title .btnNext button:hover {
  background-color: #5ce9c82f;
  transition: 0.5s;
}

footer {
  text-align: center;
  margin-bottom: 3%;
}

footer p {
  color: #ccd6f6;
}
