* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.content .box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btns button {
  margin-right: 10px;
}
