* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}

.work {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 15%;
  /* border: 1px solid #fff; */
}

.work .workTitle {
  margin-bottom: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.work .workTitle p {
  font-size: 27px;
  font-weight: 600;
  color: #ccd6f6;
}

.work .workTitle p span {
  font-size: 22px;
  font-weight: 500;
  color: #62fad6;
}

.work .workTitle .workLine {
  width: 45%;
  border-top: 1px solid #233554;
}

/* work box */

.work .workBox {
  display: flex;
  justify-content: space-between;
}

.work .workBox .workTabs {
  width: 16%;
}

.work .workBox .workTabs ul li button {
  width: 100%;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  background-color: #0a192f;
  border: none;
  color: #6b7692;
  border-left: 2px solid #233554;
}

.work .workBox .workTabs ul li button:hover {
  background-color: #444f69;
  transition: 0.5s;
  border-left: 2px solid #62fad6;
  color: #62fad6;
}

.work .workBox .workTabs ul li .tabBtn {
  background-color: #444f69;
  transition: 0.5s;
  border-left: 2px solid #62fad6;
  color: #62fad6;
}

/* work content */

.work .workBox .workContent {
  width: 80%;
  height: 100%;
}

/* media */

@media (max-width: 375px) {
  .work {
    width: 100%;
    padding-top: 20%;
    margin-bottom: 20%;
  }

  .work .workTitle {
    width: 100%;
  }

  .work .workTitle p {
    font-size: 18px;
  }

  .work .workTitle p span {
    font-size: 16px;
  }

  .work .workTitle .workLine {
    width: 13%;
  }

  .work .workBox {
    display: block;
  }

  .work .workBox .workTabs {
    width: 100%;
    height: 50px;
    margin-bottom: 10%;
  }
  .work .workBox .workTabs ul {
    width: 100%;
    border: 1px solid transparent;
    height: 40px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: mandatory;
  }

  .work .workBox .workTabs ul li {
    text-align: center;
    height: 100%;
    width: 40%;
    scroll-snap-align: center;
    flex-shrink: 0;
  }

  .work .workBox .workContent {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .work {
    width: 100%;
  }

  .work .workTitle {
    width: 100%;
  }

  .work .workTitle p {
    font-size: 18px;
  }

  .work .workTitle p span {
    font-size: 16px;
  }

  .work .workTitle .workLine {
    width: 13%;
  }

  .work .workBox {
    display: block;
  }

  .work .workBox .workTabs {
    width: 100%;
    height: 50px;
    /* border: 1px solid #fff; */
    margin-bottom: 10%;
  }
  .work .workBox .workTabs ul {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
  }

  .work .workBox .workTabs ul li {
    text-align: center;
  }

  .work .workBox .workContent {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .work {
    width: 100%;
  }
}
