* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
  height: 100%;
  /* border: 1px solid #fff; */
}

.container {
  width: 94%;
  /* border: 1px solid #fff; */
  margin: 0 auto;
}

.container .content {
  width: 80%;
  height: 100%;
  /* border: 1px solid #fff; */
  margin: 0 auto;
}

.container .posStick .links {
  width: 3%;
  /* border: 1px solid #fff;s */
  height: 340px;
  position: fixed;
  bottom: 0%;
  padding: 8px;
}

.container .posStick .links ul li a i {
  font-size: 24px;
  color: #a8b2d1;
}

.container .posStick .links ul li {
  margin-bottom: 45%;
}

.container .posStick .links ul li:hover a i {
  color: #64ffda;
  transition: 0.7s;
  transform: translateY(-6px);
}

.container .posStick .links .line {
  width: 5px;
  height: 100px;
  border-left: 1px solid #a8b2d1;
  position: absolute;
  bottom: 0;
  left: 48%;
}

.container .posStick .mail {
  width: 3%;
  height: 340px;
  position: fixed;
  bottom: 0%;
  right: 3%;
  padding: 8px;
}

.container .posStick .mail h2 {
  transform: rotateZ(90deg);
  font-size: 14px;
  color: #a8b2d1;
  font-weight: 400;
  cursor: pointer;
}

.container .posStick .mail h2:hover {
  color: #64ffda;
  transform: rotateZ(90deg) translateX(-6px);
  transition: 0.5s;
}

.container .posStick .mail .lineTwo {
  width: 5px;
  height: 100px;
  border-left: 1px solid #a8b2d1;
  position: absolute;
  bottom: 0;
  left: 48%;
}

@media (max-width: 375px) {
  .container .posStick {
    display: none;
  }
}

@media (max-width: 425px) {
  .container .posStick .links {
    height: 270px;
  }

  .container .posStick .links .line {
    left: 100%;
  }

  .container .posStick .mail h2 {
    font-size: 11px;
  }

  .container .posStick .mail {
    height: 310px;
  }

  .container .posStick .mail .lineTwo {
    left: 40%;
  }
}
